{
  "semi": true,
  "trailingComma": "none",
  "tabWidth": 4,
  "bracketSpacing": false,
  "arrowParens": "avoid",
  "proseWrap": "never",
  "printWidth": 100,
  "overrides": [
    {
      "files": [
        ".prettierrc",
        "*.json",
        "*.less"
      ],
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": [
        "*.less"
      ],
      "options": {
        "plugins": [
          "stylelint-prettier"
        ],
        "extends": "stylelint-config-standard",
        "rules": {
          "indent": 2,
          "prettier/prettier": true
        }
      }
    }
  ]
}
